.action-item-list {
  background-color: #EEEEEE;
  padding: 15px;
  height: 72vh;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: auto;

  &.loading {
    background-color: #ffffff;
  }
}