.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;

  .background {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.5);
  }

  .content {
    background-color: #E0E0E0;

    .close-button-wrapper {
      display: flex;
      justify-content: flex-end;
      padding-right: 5%;
      margin-top: .5rem;
    }
  }
}